$dark: rgb(17, 34, 17);
$redishPink: rgb(253, 115, 110);
$gray: 1px solid rgba(121, 116, 126, 0.12);
$neutralGray: rgb(210, 209, 211);
$mintDark: rgb(130, 203, 178);
$mintSemiDark: rgb(141, 211, 187);
$mint: rgb(155, 224, 200);
$mintLight: rgb(165, 235, 211);
