@use "../../sass/variables.scss" as *;

.place-trip {
  width: 1140px;
  margin: 40px auto 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px 58px;
  li {
    display: flex;
    padding: 15px;
    gap: 15px;
    border-radius: 16px;
    box-shadow: 0px 4px 16px 0px rgba(17, 34, 17, 0.05);
    img {
      object-fit: cover;
    }
    h4 {
      text-align: left;
      opacity: 0.7;
      font-size: 16px;
      font-weight: 600;
      color: rgb(17, 34, 17);
    }
    p {
      text-align: left;
      font-size: 14px;
      font-weight: 500;
    }
  }
}
